<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>Minha primeira página</title>
</head>
<title>Alunos</title>

<body>
    <p>Isso é um paragrafo</p>
    <p class = "paragrafo1">Isso é um paragrafo com atributo </p>
    <p>Isso é um paragrafo com elemento <strong>especial</strong></p>

    <h2>Lista de alunos (não ordenada)</h2>
    <ul>
        <li>Alessandro</li>
        <li>Adma</li>
        <li>Felipe</li>
    </ul>

    <h2>Lista de alunos (ordenada)</h2>
    <ul>
        <li>Adma</li>
        <li>Alessandro</li>
        <li>Felipe</li>
    </ul>

    <img src = "https://cdn1.epicgames.com/offer/e97659b501af4e3981d5430dad170911/EGS_HogwartsLegacy_AvalancheSoftware_S1_2560x1440-2baf3188eb3c1aa248bcc1af6a927b7e" alt = "Minato">
    <a href = "https://www.lucasbianchi.com">Meu site</a>
</body>

</html>